.SmallButton { /* 이전,다음 버튼 양식 - 완료 버튼은 색 변경 필요 */
    width: 7.705882352941177em;
    height: 2.9411764705882355em;
    border-radius: 1.7647058823529411em;
    border: 0.11764705882352941em solid #FEF7E2;
    background: #532A13;
    
    color: #FEF7E2;
    text-align: center;
    font-family: 'Sandoll GothicNeo1';
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em; /* 20.4px */
}

.MiddleButton { /* 내 초콜릿 상자 만들기 버튼 */
    width: 13.839176470588235em;
    height: 2.9411764705882355em;
    flex-shrink: 0;
    border-radius: 1.7647058823529411em;
    border: 0.11764705882352941em solid #FEF7E2;
    background: #532A13;
    
    color: #FEF7E2;
    text-align: center;
    font-family: 'Sandoll GothicNeo1';
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em; /* 20.4px */
}

.LargeButton { /* 가장 큰 버튼 규격 ex)URL 공유 버튼 */
    width: 18.58823529411765em;
    height: 2.9411764705882355em;
    flex-shrink: 0;
    border-radius: 1.7647058823529411em;
    border: 0.11764705882352941em solid #FEF7E2;
    background: #532A13;
    
    color: #FEF7E2;
    text-align: center;
    font-family: 'Sandoll GothicNeo1';
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em; /* 20.4px */
}
