.C_1{
    border: none;
    background: none;
}
.C_2{
    border: none;
    background: none;
}
.C_3{
    border: none;
    background: none;
}
.C_4{
    border: none;
    background: none;
}
.C_5{
    border: none;
    background: none;
}
.C_6{
    border: none;
    background: none;
}