  body {
    display: flex;
    place-items: center;
    width: 393px;
    height: 777px;
    border-radius: 8px;
    border: 1px solid #000000;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
