.B_1{
    border: none;
    background: none;
}
.B_2{
    border: none;
    background: none;
}
.B_3{
    border: none;
    background: none;
}
.B_4{
    border: none;
    background: none;
}
.B_5{
    border: none;
    background: none;
}
.B_6{
    border: none;
    background: none;
}